/* ESTILOS GLOBALES */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BORDE CONSOLA */
.console {
    position: relative;
    width: 400px;
    height: 700px;
    background-color: #55ABC4;
    background-image: url(./../img/noise.png);
    background-size: 1%;
    background-repeat: repeat;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 1px;
}

.console::before {
    content: "";
    position: absolute;
    bottom: -28px;
    width: 95%;
    height: 120px;
    background-color: #55ABC4;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 3px 2px 20px 0px;
}

.console::after {
    content: "";
    position: absolute;
    bottom: -28px;
    width: 100%;
    height: 120px;
    background-color: #55ABC4;
    border-radius: 100%;
    z-index: 1;
    background-image: url(./../img/noise.png);
    background-size: 1%;
    background-repeat: repeat;
}

/* COMM */
.comm {
    margin-right: 150px;
    color: #2c5764;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.comm span {
    font-size: 40px;
    color: #2c5764;
}

/* PANTALLA */
.screen-outside {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    width: 90%;
    height: 300px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
}

.screen-outside::after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 99%;
    height: 40px;
    background-color: rgb(32, 32, 32);
    border-radius: 100%;
    z-index: 1;
}

.screen-inside-center {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(219,219,219,1) 74%, rgba(209,209,209,1) 79%, rgba(209,209,209,1) 100%);
    box-shadow: inset 0px -2px 3px 8px;
}

.screen-inside-left {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}

.screen-inside-bottom {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.power-light-sign {
    margin-top: 50px;
    width: 100%;
    height: 20%;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.power-light-top {
    display: flex;
    align-items: center;
    gap: 2px;
}

.red-light {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    border: 1px white solid;
}

.red-light-details {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.gameboy-text {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -3px;
}

.color-text {
    font-size: 25px;
}

#color-c {
    color: deeppink;
}

#color-o {
    color: slateblue;
}

#color-l {
    color: greenyellow;
}

#color-o2 {
    color: gold;
}

#color-r {
    color: darkcyan;
}

/* LOGO DE NINTENDO */
.nintendo-logo {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #2c5764;
}

.nintendo-logo p {
    font-family: 'Pretendo', sans-serif;
    border: 2px solid #2c5764;
    padding: 4px;
    border-radius: 10px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top;
}

/* BOTONERA SUPERIOR */
.group-buttons-top {
    width: 90%;
    height: 130px;
    display: flex;
}

/* BOTONERA SUPERIOR - CRUCETA */
.cross-container {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    color: gray;
}

.cross-top-left {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    border-right: 2px inset gray;
    border-bottom: 2px inset gray;
    box-shadow: inset -1px -1px 1px 0px;
}

.cross-top-center {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px outset gray;
    box-shadow: 0px -1px 1px 0px;
}

.cross-top-right {
    grid-row: 1 / 1;
    grid-column: 3 / 4;
    border-left: 2px inset gray;
    border-bottom: 2px outset gray;
}

.cross-middle-left {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px outset gray;
    box-shadow: -1px 0px 1px 0px;
}

.cross-middle-center {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cross-middle-right {
    grid-row: 2 / 2;
    grid-column: 3 / 4;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 2px outset gray;
    box-shadow: 3px 7px 3px 0px;
}

#arrow-left {
    transform: rotate(270deg);
}

#arrow-right {
    transform: rotate(90deg);
}

.cross-bottom-left {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    border-top: 2px outset gray;
    border-right: 2px inset gray;
    box-shadow: inset -1px 1px 1px 0px;
}

.cross-bottom-center {
    grid-row: 3 / 3;
    grid-column: 2 / 2;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px outset gray;
    box-shadow: 5px 3px 3px 0px;
}

.cross-bottom-right {
    grid-row: 3 / 3;
    grid-column: 3 / 4;
    border-top: 2px inset gray;
    border-left: 2px inset gray;
    box-shadow: inset 3px 3px 3px 0px;
}

#arrow-bottom {
    transform: rotate(180deg);
}

/* BOTONERA SUPERIOR - BOTONES DE ACCIÓN */
.action-buttons-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
}

.a-button, .b-button {
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-stretch: condensed;
    background-color: gray;
    box-shadow: 1px 1px 3px 0px;
    border: 1px outset rgb(71, 71, 71);
}

.a-button {
    transform: translate(0px, -10px);
}

.b-button {
    transform: translate(0px, 10px);
}

/* BOTONERA INFERIOR */
.group-buttons-bottom {
    margin-top: 20px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

/* BOTONERA INFERIOR - BOTONES DE OPCIONES */
.option-buttons-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.select-button-group, .start-button-group {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    color: #2c5764;
    font-weight: 700;
}

.option-button {
    height: 12px;
    width: 35px;
    background-color: gray;
    border-radius: 40%;
    border: 1px outset black;
}
/* BOTONERA INFERIOR - ALTAVOZ */
.speaker-container {
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    transform: rotateX(0deg) rotateY(342deg) rotateZ(353deg);
}

.hole {
    display: flex;
    justify-content: center;
    align-items: center;
}

.void {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 100%;
}

.plugged {
    width: 80%;
    height: 80%;
    background-color: #2c5764;
    border-radius: 100%;
}